<p>Prezado autor,</p>

<p>Informamos que seu trabalho {{cfwork.title}} foi recebido e será avaliado pela Comissão Científica. Se o trabalho for aprovado, em breve você receberá um e-mail de confirmação.<br>
No site constará a lista de todos os trabalhos aprovados.
</p>

<p>Bom evento!<br>
Comissão Organizadora<br>
{{conferene.title}}
</p>