<p>Prezado autor,</p>
<p>Informamos que o trabalho <strong>{{cfword.title}}</strong> foi aprovado para apresentação no {{event.title}}</p>
<p>Lista com todos os trabalhos aprovados: {{cfworksUrl}}</p>
<p>
Atenciosamente,<br>
Comitê organizador<br>
{{event.title}}
<p>