<p>Prezado autor,</p>
<p>Informamos que o trabalho <strong>{{cfword.title}}</strong> foi aprovado para apresentação no {{conference.title}}</p>
<p>Lista com todos os trabalhos aprovados: {{cfworksUrl}}</p>
<p>
Atenciosamente,<br>
Comitê organizado<br>
{{conference.title}}
<p>